{% extends 'base.html' %}

{% block title %}Home - Law Firm{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='image/banner.jpg') }}" alt="Contact Image" class="img-fluid">
<div class="container mt-5">
  <section>
    <div class="text-center">
      <h1>Our Services</h1>
      <hr class="mb-4">
    </div>
    <div class="mt-5">
      <div class="row m-5">
        <div class="col text-center">
          <img src="{{ url_for('static', filename='image/ourService/2.png') }}" class="m-1" height="200px"
            alt="Image 1">
        </div>
        <div class="col">
          <div>
            <p style="font-size: 20px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium lectus, eget tincidunt
              magna.
              Fusce aliquam risus sed neque pharetra, at rutrum lectus ultrices. Nunc accumsan felis sed diam ultricies,
              vel
              tincidunt massa sodales. Maecenas at purus non libero tincidunt tristique.
            </p>
            <ul style="font-size: 20px;">
              <li>Pellentesque habitant morbi fames ac turpis egestas.
              </li>
              <li>Proin fermentum tortor nisi mollis.</li>
              <li>Cras tempor augue arcu dictum.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="col text-center">
          <img src="{{ url_for('static', filename='image/ourService/1.png') }}" class="m-1" height="200px"
            alt="Image 1">

        </div>
        <div class="col">
          <div>
            <p style="font-size: 20px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium lectus, eget tincidunt
              magna.
              Fusce aliquam risus sed neque pharetra, at rutrum lectus ultrices. Nunc accumsan felis sed diam ultricies,
              vel
              tincidunt massa sodales. Maecenas at purus non libero tincidunt tristique.
            </p>
            <ul style="font-size: 20px;">
              <li>Pellentesque habitant morbi fames ac turpis egestas.
              </li>
              <li>Proin fermentum tortor nisi mollis.</li>
              <li>Cras tempor augue arcu dictum.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  {% endblock %}